<!DOCTYPE html>

<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewBag.Title - Damao Jetty</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <!-- Place favicon.ico in the root directory -->
    <!-- CSS here -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/css/themify-icons.css">
    <link rel="stylesheet" href="~/Content/css/nice-select.css">
    <link rel="stylesheet" href="~/Content/css/flaticon.css">
    <link rel="stylesheet" href="~/Content/css/animate.css">
    <link rel="stylesheet" href="~/Content/css/slicknav.css">
    <link rel="stylesheet" href="~/Content/css/style.css">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>
<body>
    @Html.Partial("~/Views/Shared/Partial/_HeaderMenu.cshtml")

    @{
        string pageTitle = ViewBag.Title;
        if (pageTitle.Contains("Home Page"))
        {
            @Html.Partial("~/Views/Shared/Partial/_HomeSlider.cshtml")
        }
    }

    <div>
        @RenderBody()
    </div>


    @Html.Partial("~/Views/Shared/Partial/_Testimonials.cshtml")
    @Html.Partial("~/Views/Shared/Partial/_Instagrams.cshtml")
    @Html.Partial("~/Views/Shared/Partial/_Footer.cshtml")



    <!-- JS here -->
    <script src="~/Content/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="~/Content/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/Content/js/popper.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <script src="~/Content/js/isotope.pkgd.min.js"></script>
    <script src="~/Content/js/ajax-form.js"></script>
    <script src="~/Content/js/waypoints.min.js"></script>
    <script src="~/Content/js/jquery.counterup.min.js"></script>
    <script src="~/Content/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/Content/js/scrollIt.js"></script>
    <script src="~/Content/js/jquery.scrollUp.min.js"></script>
    <script src="~/Content/js/wow.min.js"></script>
    <script src="~/Content/js/nice-select.min.js"></script>
    <script src="~/Content/js/jquery.slicknav.min.js"></script>
    <script src="~/Content/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/js/plugins.js"></script>

    <!--contact js
    <script src="js/contact.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/jquery.form.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/mail-script.js"></script>-->

    <script src="~/Content/js/main.js"></script>

</body>
</html>
