@model IEnumerable<BusinessLayer.FoodItems>

@{
    ViewBag.Title = "Logged In";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<!-- bradcam_area_start -->
<div class="bradcam_area breadcam_bg overlay">
    <h3>Logged In!</h3>
</div>


<div style="font-family : Arial">

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    <table border="1">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FoodTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoodImg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoodServed)
            </th>

            <th>
                Action
            </th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FoodTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FoodImg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FoodServed)
        </td>
        <td>
            @Html.ActionLink("Add", "Add", new { id = item.FoodItemId }) |
            @Html.ActionLink("Edit", "Edit", new { id = item.FoodItemId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.FoodItemId })
        </td>
    </tr>

        }

    </table>
</div>

